body {
  font-family: Roboto;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Merriweather;
  font-weight: 1000;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.sub {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: rgb(107, 107, 107);
}

.circle {
  height: 125px;
  width: 125px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.sidebar {
  background-color: rgb(235, 235, 235);
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 30%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
}
.sidecontent {
  text-align: center;

}
